@import url('https://fonts.googleapis.com/css?family=Delius&display=swap');

#tagcloud {
    margin-right: 20em;
    margin-left: 20em;

    @include respond(tab-port) {
        margin-right: 10em;
        margin-left: 10em;
    }
    @include respond(phone) {
        margin-right: 1em;
        margin-left: 1em;
    }
}

.tagcloudlink {
    font-family: 'Delius', sans-serif;
    margin: 5px;
    cursor: default;
    color: $dark-blue-text;
}

.tagcloudlink:hover {
    cursor: default;
}